<h1>My habits</h1>
<%= link_to 'Create new habit', new_habit_path, class: "btn btn-primary" %>
<ul style="list-style-type: none; padding: 0;"> 
    <% @habits.each do |habit| %>
    <div class="my-4">
        <li><%= link_to habit.name, habit_path(habit) %></li>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item text-white">S</li>
            <li class="list-group-item text-white">M</li>
            <li class="list-group-item text-white">T</li>
            <li class="list-group-item text-white">W</li>
            <li class="list-group-item text-white">T</li>
            <li class="list-group-item text-white">F</li>
            <li class="list-group-item text-white">S</li>
        </ul>    
    </div>
    <% end %>
</ul>

<%= render 'shared/days' %>